*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    display: flex;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    font-family: 'open Sons',sans-serif;
    background: linear-gradient(135deg,#ef0fef c,#9b9b9b);
    
    }

.container{
    position: relative;
    width:480px;
    height: 500px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 10px;

    max-width: 100%;
}
header{


    background-color: #f7f7f7;
    border-bottom: 1px solid #f0f0f0;
    padding: 20px 40px;
}
.form{
    padding:30px 40px;
}
.form-control{
    margin-bottom: 10px;
    padding-bottom: 20px;
position:relative;
width:500px;
background: purple;
padding: 20px;
font-size: 20px;
font-family: verdana;
color: white;
margin: auto;

}
input[type=text]{
    padding: 5px;
    width:100%;
    font-size: 18px;
    border-radius: 0 10px 0 0;

}
input[type=Email]{
    padding:5px;
    width: 100%;
    font-size: 18px;
    border-radius: 0 10px 0 0;
}
input[type=DateofBirth]{
    padding:5px;
    width: 20%;
    font-size: 18px;
    border-radius: 0 10px 0 0;
}
input[type=submit]{
    padding:5px;
    width: 20%;
    font-size: 18px;
    border-radius: 0 10px 0 0;
}
input[type=Reset]{
    padding:5px;
    width: 20%;
    font-size: 18px;
    border-radius: 0 10px 0 0;
}
.popup{
    width:400px;
    background:#fff;
    border-radius: 6px;
    position: absolute;
    top:0;
    left:50%;
    transform: translate(-50%,-50%) scale(0,1);
    text-align: center;
    padding:0 30px 30px;
    color:#333;
    visibility: hidden;
    transform: transform 0.4s,top 0.4s;
}
    .open-popup{
        visibility: visible;
        top:50%;
        transform: translate(-50%,-50%) scale(1);
    
    }

.popup img{
    width:100px;
    margin-top: -50px;
    border-radius: 50%;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}
.popup h2{
    font-size: 35px;
    font-weight: 500;
    margin:30px 0 10px
}
.popup button{
width:100%;
margin-top: 50px;
padding: 10px 0;

    background: #6fd649;
    color:#fff;
    border:0;
    outline:none;
    font-size: 18px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);

}